* {
  padding: 0px;
  margin: 0px; 
}
a {
  color: #fff;
  text-decoration: none;
}

.p-menu1{
   height: 100%;
}

                    /*PAGE ONE*/
/* Hamburger */
.hamburger1 {
  height: 18px;
  margin: 20px;
  display: -ms-grid;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  z-index: 120;
}

.hamburger1 div {
  background-color: rgb(61, 61, 61);
  position: relative;
  width: 30px;
  height: 3.3px;
  margin-top: 7px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#toggle1 {
  display: none;
}

#toggle1:checked + .hamburger1 .top {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-top: 20px;
}

#toggle1:checked + .hamburger1 .meat {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-top: -5px;
}

}

#toggle1:checked + .hamburger1 .bottom {
  -webkit-transform: rotate (45deg);
          transform: rotate(45deg);
  margin-top: 20;
}

#toggle1:checked ~ .menu1 {
  height: 400px;
}


/* Menu */
.menu1 {
  width: 100%;
  background-color: #DDE5B6;
  margin: 0;
  display: -ms-grid;
  display: grid;
  grid-template-rows: 1fr repeat(4, 0.5fr);
  grid-row-gap: 25px;
  padding: 0;
  list-style: none;
  clear: both;
  width: auto;
  text-align: center;
  height: 0px;
  overflow: hidden;
  transition: height .4s ease;
  z-index: 120;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menu1 a:first-child {
  margin-top: 20px;
}

.menu1 a:last-child {
  margin-bottom: 20px;
}

.link1 {
  width: 100%;
  margin: 0;
  padding: 10px 0;
  font: 700 20px 'Oswald', sans-serif;
}

.link1:hover {
  background-color: #fff;
  color: rgb(61, 61, 61);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

                      /*PAGE TWO*/
.hamburger2 {
  height: 18px;
  margin: 20px;
  display: -ms-grid;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  z-index: 120;
}

.hamburger2 div {
  background-color: rgb(61, 61, 61);
  position: relative;
  width: 30px;
  height: 2px;
  margin-top: 7px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#toggle2 {
  display: none;
}

#toggle2:checked + .hamburger1 .top {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-top: 23.5px;
}

#toggle2:checked + .hamburger1 .meat {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-top: -5px;
}

#toggle2:checked + .hamburger1 .cheese {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-top: -5px;
}

#toggle2:checked + .hamburger1 .bottom {
  -webkit-transform: scale(0);
          transform: scale(0);
}

#toggle2:checked ~ .menu1 {
  height: 400px;
}

.seasons{
  margin: 15px;
  display: flex;
  justify-content: space-around;
  
}
.winter {
  margin: 10px;
}

.spring {
  margin: 10px;
}

.summer {
  margin: 10px;
}

.fall{
  margin: 10px;
}
.company-name {
  text-align: center;
  color: #3C4323;
  font-size: 20px;
}


footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ADC178;
  color: #3C4323;
  text-align: center;
}
.email1 {
  color: #3C4323
}
<div class="footer">
  <p>Footer</p>
</div>



ul {
  margin: 0;
  padding: 0;
}

